<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDWEQTYMzjTweimq9NWxNK2mRxCDYl_6Oc</string>
	<key>GCM_SENDER_ID</key>
	<string>822340796747</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.renteasy</string>
	<key>PROJECT_ID</key>
	<string>renteasy-bbce5</string>
	<key>STORAGE_BUCKET</key>
	<string>renteasy-bbce5.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:822340796747:ios:fd8d946372f186949fa8ce</string>
</dict>
</plist>